
@{ ViewBag.Title = "Đặt hàng thành công"; }

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__links">
                                <a href="/"><i class="fa fa-home"></i>Trang chủ</a>
                                <span>Thanh toán</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row">
                <div class="col-12" id="load_data">
                    <div class="alert alert-success">
                        Shop đã nhân được đơn hàng của bạn. Vui lòng kiểm tra email và xác nhận thông tin đơn hàng.
                        Cảm ơn bạn đã mua hàng!!!
                    </div>
                  @*  <h2>Bạn đã đặt hàng thành công</h2>*@
                </div>

            </div>
        </div>
    </div>
</div>


