@model IEnumerable<WebDACN.Models.ShoppingCartItem>
@using WebDACN.Common
@{
    ViewBag.Title = "Partial_Item_ThanhToan";
}

<div class="checkout__order">
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;



        <h5>Giỏ hàng của bạn</h5>
        <div class="checkout__order__product">
            <ul>

                <li>
                    <span class="top__text">Sản phẩm</span>
                    <span class="top__text__right">Tổng</span>
                </li>
                @foreach (var item in Model)
                {
                    tongtien += item.TotalPrice;
                    <li>@item.ProductName <span>@Common.FormatNumber(item.Price, 0)</span></li>
                }

            </ul>
        </div>
        <div class="checkout__order__total">
            <ul>
                <li>Total <span>@Common.FormatNumber(tongtien, 0)</span></li>
            </ul>
        </div>
        <div class="input-group">
            @using (Html.BeginForm("ApplyCoupon", "ShoppingCart", FormMethod.Post))
            {
            <input type="text" name="CouponCode" />
            <input type="submit" value="Áp dụng" />
            @Html.ValidationMessage("CouponCodeError")
            }
           
        </div>
    }
</div>
